MONGODB_URL = 'mongodb://localhost:27017/Alo-Camelo-db'
SECRET=MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgHXO/AHH+ZDaJFu8zizlkphSc7xNjz/ABOXFxw8/+ZUsSSQhRc5ctQ3piLrMNr9y2m/nMPHYHhN9WUAr0Vn2r+10iKPereZOcFPjLpp9Hfp7KjKsoohGJOEu/NXw34WbOKc8alcvkI04brel7SCmduckIvYgIqJIaxPuTwWZKtwVAgMBAAE=